<div class="homepage"><h1>Sandwiches Made Easy</h1>
<br /><br /><br />
<%= image_tag("kidsammich.jpg", :alt => "Hungry yet?", :class => "floatright") %>

<p>
	What tastes better than a sandwich someone else makes for you?
	<br /><br />
	That's right. <u>Nothing</u>.
</p>
<br />
<p>
Put your order in today, and receive a tasty stack from a friend.
<br /><br /><br />
All you need to do is:
<ol>
	<li>Log in to <%= link_to "Sammich", new_user_session_path %></li>
	<li>Select a sandwich</li>
	<li>Tell us who to send it to</li>
	<li>Work up an appetite</li>
</ol>
</p>
	
<br /><br /><br /><br />

</div>
