<%- model_class = @sandwich_order.class -%>
<div class="page-header">
  <h1><%=t '.title', :default => t('helpers.titles.new', :model => model_class.model_name.titleize,
                                 :default => "Place Your #{model_class.model_name.titleize}") %></h1>
</div>
<%= render :partial => 'form' %>
