<div id="success">
	<center>
	<h2>Your Sandwich is being born!</h2>
	<br />
	<br />
	
	<p>Sit back and contemplate the deliciousness coming your way.</p>

	<p>Done contemplating?</p>
	<br />
	<br />

	<%= link_to "My Sandwich Zone", root_url, :class => 'btn btn-primary' %> <%= link_to "Order Another Sandwich", new_sandwich_order_url, :class => 'btn btn-primary' %>
	</center>
</div>
